.dot {
  display: inline-block;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.working {
  background: var(--color-blue);
}

.waiting {
  background: var(--color-purple);
}

.done {
  background: var(--color-slate);
}

.error {
  background: var(--color-pink);
}
